body {
    margin: 0;
    padding-top: : 70px;
    font-family: Quicksand;
}

nav {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;
}



nav .logo {
    padding: 22px 12px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;

}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding-right: 12px;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active {
    background: #dd1343;
    color: #fff;
    border-radius: 6px;
}

.sec1 {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    background: url(img/chicken.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.sec1 .mainLogo {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 350%;
  text-shadow: 2px 2px 4px #fff;
}

.content {
    margin-top: 80px;
}

.content p {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*each colum is a min of 300px and a max of sharing the space so each one is the same as each other */
  /*  grid-gap: 1rem; */
    display: flex;
    margin-bottom: 2rem;
    margin-right: 7rem;
    margin-left: 7rem;
}

/* Just for Fallback layout */

main {
    max-width: 520px;
    margin: 0 auto;
}
article {
    margin: 1rem 0;
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  article {
    margin: 0;
    }
    .meals {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1rem;
  }
}

.meals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*each colum is a min of 300px and a max of sharing the space so each one is the same as each other */
    grid-gap: 1rem;
    margin-bottom: 2rem;
    padding-right: 7rem;
    padding-left: 7rem;
}
.recipe {
    display: flex;
    flex-flow: column;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem;

}
.recipe h1 {
  text-align: center;
}
.recipe > img {
  order: -1;
  align-self: center;
}

.recipe > button {
  margin-top: auto;
  background: #dd1343;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

article {
  margin: 0;
}

/* .right-sidebar {
  float: right;
/* This moves the sidebar where i want it, but brings up the social section into the same section or
row in the grid, super aannyoing*/

.clearfix-padding {
    clear: both;
    padding: 2%;
}

.left-col {
  float: left;
  margin: 0 auto;
  width: 40%;
  height: auto;
  padding: 1%;
  padding-left: 7rem;
}

.sidebar {
   float: right;
  /*  margin: 0 auto;
    width: 30%;
    height: auto; */
    margin-right: 7rem;
    width: 30%;
    border: 2px solid #dd1343;
    padding: 2rem;
    border-radius: 1rem;
  }

input, textarea{
        display: block;
        width: 100%;
        border: 2px solid;
        padding: .5rem;
        font-size: 18px;
      }
#sendBtn{
      border: 0;
      background: #00c943;
      padding: .5rem;
      color: #fff;
      margin: 1rem 0;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: .5rem;
}


label {
  float: left;
  width: 90px;
  text-align: left;
  padding-right: 12px;
  clear: left;
}

#email-label{
  padding-top: 15px;
}
#feedback-label{
  padding-top: 15px;
}

/* Application inputs */

.application {
  margin-left: 7rem;
  padding: 1rem;
  border: 2px solid #dd1343;
  border-radius: 1rem;
  float: left;
}

#peopleNumb{
  width: 5rem;
}

#recipes{

}

#submit{
  width: 5rem;
  margin: auto;
  border-radius: 1rem;
  text-align: center;
  background-color: #dd1343;
}

#submit:hover{
  background-color: #ff0000;
}





/*
.slidecontainer {
    width: 40%;
    border: 2px solid #dd1343;
    padding: 2rem;
    border-radius: 1rem;

} */

.social h4 {
  color: #fff;
}
.social {
  text-align: center;
  background: #00c943;
  background opacity: 0.6;
  display: grid;
  grid-template-columns: auto(center, minmax(300px,1fr)); /*each colum is a min of 300px and a max of sharing the space so each one is the same as each other */
  grid-gap: 1rem;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 7rem;
  margin-left: 7rem;
}

.social a {
  padding-left: 5rem;
  padding-right: 5rem;
  display: inline-block;
  color: #fff;
}
footer.second {
  text-align: center;
}

@media screen and (max-width: 1100px) {

  nav:hover ul {
    display: block;
  }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #F5F5F5;
    border: 1px solid #A5BDCD;
    right: 20px;
    width: 50%;
    border-radius: 3px 0 3px 3px;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }
}

}
